{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

<a href="/users/user1">User 1</a>
<a href="/users/user2">User 2</a>
<a href="/users/user3">User 3</a>
<a href="/users/user4">User 4</a>
<a href="/users/user5">User 5</a>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}